.container {
  background: #c17171;
  border-radius: 6px;
  text-align: center;
  margin: auto;
  margin-top: 45px;
  width: 70%;
}

header {
  background: #6d3636;
  border-radius: 6px;
  padding: 5px;
}

main {
  padding: 50px;
}

.button {
  margin-bottom: 30px;
}

.button button {
  padding: 7px;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.slider label {
  margin-bottom: 50px;
}